<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%-include("partials/head.html")%>
</head>
<body>
    <%-include("partials/body.html")%>
    <section></section>
    <section>
        <div class="container pb-2">
            <div class="row justify-content-center mt-5">
                <br>
                <br>
                <br>
                <br>
                <h1><b>Misión</b></h1>
                <br>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptates rerum sapiente dolor in culpa sit optio magnam, repudiandae illum exercitationem, quaerat cum at tempore iusto, rem eveniet quisquam vitae ullam saepe assumenda. Dolor fuga qui ducimus velit, impedit veniam ipsum dolorem dicta similique voluptatum! Earum quos, molestias corrupti ea dolorem quas fugiat ex aliquam deserunt praesentium dignissimos enim! Illo.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1><b>Visión</b></h1>
                <br>
                <br>
                <br>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eius molestiae quam praesentium saepe iste accusamus sapiente quo, aut dolor corrupti qui totam minima reiciendis harum quibusdam necessitatibus autem nisi, quos dolorem assumenda fuga. Eius illo provident excepturi consequuntur, accusamus voluptates magnam ipsam, unde repellendus reprehenderit atque accusantium, architecto quidem!</p>
            </div>
        </div>
    </section>
</body>
<footer >
    <section>
        <%-include("partials/footer.html")%>
    </section>
</footer>
</html>