<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <%-include("partials/head.html")%>
</head>
<body>
    <%-include("partials/body.html")%>
    <section class="section pb-6" id="demos">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/malathon.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h3 class="card-title text-center"><b>Insecticida</b></h3>
                                        <h5>Descripción</h5>
                                        <p>Insecticida fosforado, se usa en ambientes interiores y exteriores de locales, galpones, jardines controlando insectos como: pulgas, piques, piojos, zancudos, mosquitos y cucarachas.</p>
                                        <p class="card-text">Insecticida para uso en cultivo de café</p>
                                        <a class="btn btn-success btn-block" href="" >Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front img-fluid" style="background-image: url(/imagenes/GOAL-24-EC.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h3 class="card-title text-center"><b>Herbicida</b></h3>
                                        <h5>Descripción</h5>
                                        <p>Goal™ 2 EC es un herbicida pre-emergente recomendado en el control de malezas gramíneas, Posee un largo efecto residual que permite mantener el cultivo limpio durante el período crítico de competencia de malezas.
                                        </p>
                                        <p class="card-text">Herbicida para uso en cultivo de café</p>
                                        <a class="btn btn-success btn-block" href="" >Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/AUTHORITY-Cheminova.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h3 class="card-title text-center"><b>Fungicida</b></h3>
                                        <h5>Descripción</h5>
                                        <p>Es un fungicida foliar que mezcla los ingredientes activos Flutriafol y Azoxystrobin por lo que presenta actividad preventiva, inhibiendo la germinación de las esporas y el desarrollo de los estadios tempranos del hongo y acción curativa gracias a su mecanismo de acción.</p>
                                        <p class="card-text">Fungicida para uso en cultivo de café</p>
                                        <a class="btn btn-success btn-block " href="" >Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<footer>
    <section>
        <%-include("partials/footer.html")%>
    </section>
</footer>
</html>