<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <%-include("partials/head.html")%>
</head>
<body>
    <%-include("partials/body.html")%>
    <section class="section pb-6" id="demos">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/corn-g4de78159a_640.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h5 class="mt-4 f-17 text-center"><b>Maíz</b></h5>
                                        <br>
                                        <p>Desea saber los insumos necesarios y el costo por hectaria.</p>
                                        <form action="productos.html" method="POST">
                                            <input type="text" name="CantHetaMaiz" id="CantHetaMaiz" placeholder="ingrese la cantida de hetareas" required>
                                            <input type="submit" class="btn btn-success btn-block" value="calcular">
                                        </form>
                                        <a class="btn btn-success btn-block" href="https://buy.stripe.com/test_7sIcNb4Bycu0dvG5kl" >Agregar al carro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/fresh-gb355737b9_640.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h5 class="mt-4 f-17 text-center"><b>Café</b></h5>
                                        <br>
                                        <p>Desea saber los insumos necesarios y el costo por hectaria.</p>
                                        <form action="productos.html" method="POST">
                                            <input type="text" name="CantHetaCafe" id="CantHetaCafe" placeholder="ingrese la cantida de hetareas" required>
                                            <input type="submit" class="btn btn-success btn-block" value="calcular">
                                        </form>
                                        <a class="btn btn-success btn-block" href="https://buy.stripe.com/test_fZecNb4By79GgHS5km" >Agregar al carro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/martinique-g1de360b2a_640.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h5 class="mt-4 f-17 text-center"><b>Cacao</b></h5>
                                        <br>
                                        <p>Desea saber los insumos necesarios y el costo por hectaria.</p>
                                        <form action="productos.html" method="POST">
                                            <input type="text" name="CantHetaCacao" id="CantHetaCacao" placeholder="ingrese la cantida de hetareas" required>
                                            <input type="submit" class="btn btn-success btn-block " value="calcular">
                                        </form>
                                        <a class="btn btn-success btn-block " href="https://buy.stripe.com/test_eVa00p4By3XucrCaEH" >Agregar al carro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/palm-g1c97677ae_640.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h5 class="mt-4 f-17 text-center"><b>Aceite de palma</b></h5>
                                        <br>
                                        <p>Desea saber los insumos necesarios y el costo por hectaria.</p>
                                        <form action="productos.html" method="POST">
                                            <input type="text" name="CantHetaPalma" id="CantHetaPalma" placeholder="ingrese la cantida de hetareas" required>
                                            <input type="submit" class="btn btn-success btn-block " value="calcular">
                                        </form>
                                        <a class="btn btn-success btn-block " href="https://buy.stripe.com/test_bIYeVj8ROeC89fq004" >Agregar al carro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container__card">
                        <div class="card__father">
                            <div class="card">
                                <div class="card__front" style="background-image: url(/imagenes/harvesting-g3847d7547_640.jpg);">
                                </div>
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <h5 class="mt-4 f-17 text-center"><b>Arroz</b></h5>
                                        <br>
                                        <p>Desea saber los insumos necesarios y el costo por hectaria.</p>
                                        <form action="productos.html" method="POST">
                                            <input type="text" name="CantHetaArroz" id="CantHetaArroz" placeholder="ingrese la cantida de hetareas" required>
                                            <input type="submit" class="btn btn-success btn-block " value="calcular">
                                        </form>
                                        <a class="btn btn-success" href="https://buy.stripe.com/test_4gw5kJgkgeC8fDO5kk">Agregar al carro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <% if(typeof alert != "undefined") { %>
        <script>
            swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton:<%= showConfirmButton %>,
                timer:'<%= timer%>'
            }).then(() =>{
                window.location='<%= ruta%>'
            });
        </script>
    <% } %>

</body>
<footer>
    <section>
        <%-include("partials/footer.html")%>
    </section>
</footer>
</html>