<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <%-include("../partials/head.html")%>
</head>
<body>
    <%-include("../partials/body.html")%>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <section id="home"></section>
                    <div class="imgcontainer" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">  <!-- Para animar la imagen se copoa el codigo de la pagina los data-aos-->
                        <img class="centro" src="/ciclo-3/src/public/imagenes/logo.png" alt=""width ="200">
                    </div>
                    <div class="description">
                        <h1 class="text-center">Informacion Importante<b></b></h1>
                        <br>
                        <br>
                        <h2>Cultivo de la Palma de aceite (Elaeis guineensis)</h2>
                        <br>
                        <img class="img-fluid shadow-lg mx-2" src="../imagenes/palm-g1c97677ae_640.jpg" alt="" width="400">
                        <br>
                        <br>
                        <p>Las características de las zonas en las cuales la palma alcanza niveles altos de producción siempre coinciden con altas temperaturas ambientales, adecuado suministro de agua, suficiente luz y radiación solar. Se estima que una temperatura media mensual de 28 grados centígrados resulta óptima para la palma.
                            Los suelos francos a franco a franco arcillosos, sueltos, profundos, bien drenados y de origen aluvial o volcánicos, son los más deseables para el cultivo de palma de aceite
                        </p>
                        <br>
                        <h3>Siembra</h3>
                        <br>
                        <p>Elaeis Guineensis, se siembra cada 9 m con una densidad de 143 palmas/hectárea</p>
                        <br>
                        <h3>Fertilización</h3>
                        <br>
                        <p>Urea entre 1 a 2 kg/palma/año; KCl entre 1.5 a 2 kg/palma/año; MgCl2 entre 1 a 1.5 kg/palma/año; y Bórax 100 gr/palma/año. (Lo anterior fraccionado en 2 dosis).</p>
                        <br>
                        <h3>Herbicidas</h3>
                        <br>
                        <p>Los primeros años de la palma son los más críticos y en los cuales éstas sufren más por la competencia de nutrientes y otros factores del medio, retardando el desarrollo de las palmas y afectando su productividad por el resto de su vida, es importante realizar controles en esta época.</p>
                        <br>
                        <h3>Insecticidas</h3>
                        <br>
                        <p>Se utilizan principalmente para la eliminación de plagas como: Rhynchophorus palmarum, Strategus aloeus y Sagalassa valida, que son algunos de los insectos y plagas que afectan el cultivo de palma de aceite.</p>
                        <br>
                        <h3>Fungicidas</h3>
                        <br>
                        <p>Se utilizan principalmente para el tratamiento de enfermedades causadas por hongos como: la pudrición del cogollo, la marchitez sorpresiva, el añublo foliar o secamiento de las hojas, el anillo marrón y últimamente, el moteado de las hojas jóvenes o mancha anular.</p>
                        <br>
                        <br>                     
                        <footer id="footer">
                            <div class="footer"><b>Enlaces relacionados</b>
                                <div class="row screen-lg">
                                    <div class="col-xl-12 col-lg-12 no-split_redes">
                                        <ul class="he_footer_redes">
                                            <li>
                                                <a href="https://www.facebook.com/pages/Ministerio-de-Agricultura-y-Desarrollo-Rural/180831651986560" title="Facebook">										
                                                    <i class="fa fa-facebook fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-button-blue-icon.png" alt="" width="45">
                                                    <div class="fa_text"></div> <!--Facebook-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/MinAgricultura" title="Twitter">					
                                                    <i class="fa fa-twitter fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Twitter-icon.png" alt="">
                                                    <div class="fa_text"></div>	<!--Twitter-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/MinAgriculturaCol" title="Instagram">						
                                                    <i class="fa fa-instagram fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Instagram-icon.png" alt="" width="50">
                                                    <div class="fa_text"></div> <!--Instagram-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/user/AgriculturaldiaMADR" title="Youtube" href="#" target="_blank"> 						
                                                    <i class="fa fa-youtube fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Youtube-icon.png" alt="">
                                                    <div class="fa_text"></div>	 <!--Youtube-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
            </div>
        </div>
    <section id= "skills">
    </section>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
<footer>
    <section>
        <%-include("../partials/footer.html")%>
    </section>
</footer>
</html>