<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arroz</title>
    <%-include("../partials/head.html")%>
</head>
<body>
    <%-include("../partials/body.html")%>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <section id="home">  
                    <div class="imgcontainer" data-aos="fade-down"
                    data-aos-easing="linear"
                    data-aos-duration="1500">  <!-- Para animar la imagen se copoa el codigo de la pagina los data-aos-->
                    <div class="description">
                        <h1 class="text-center"><b>Informacion Importante</b></h1>
                        <br>
                        <br>
                        <!-- -------------------------------------------------------------------------------------- -->
                        <h2>Cultivo de Arroz (Oriza sativa)</h2>
                        <br>
                        <img class="img-fluid shadow-lg mx-1 rounded" src="../imagenes/harvesting-g3847d7547_640.jpg" alt="" width="400">
                        <br>
                        <br>
                        <p>El arroz necesita para germinar un mínimo de 10 a 13ºC, considerándose su óptimo entre 30 y 35 ºC. Por encima de los 40ºC no se produce la germinación. El crecimiento del tallo, hojas y raíces tiene un mínimo de 7º C, considerándose su óptimo en los 23 ºC. Con temperaturas superiores a ésta, las plantas crecen más rápidamente, pero los tejidos se hacen demasiado blandos, siendo más susceptibles a los ataques de enfermedades.
                            El cultivo tiene lugar en una amplia gama de suelos, variando la textura desde arenosa a arcillosa. Se suele cultivar en suelos de textura fina y media, propias del proceso de sedimentación en las amplias llanuras inundadas y deltas de los ríos. El pH óptimo para el arroz es 6.6.
                            </p>
                            <br>
                            <h3>Siembra</h3>
                            <br>
                            <p>De acuerdo a la variedad cultivada la profundidad del agua puede ir desde los 50cm a los 600.</p>
                            <br>
                            <h3>Fertilización</h3>
                            <br>
                            <p>El arroz necesita el nitrógeno en dos momentos críticos del cultivo: En la fase de ahijamiento y desde el comienzo del alargamiento del entrenudo superior. El arroz necesita encontrar fósforo disponible en las primeras fases de su desarrollo y el potasio aumenta la resistencia al encamado, a las enfermedades y a las condiciones climáticas desfavorables.</p>
                            <br>
                            <h3>Herbicidas</h3>
                            <br>
                            <p>La competencia de las malas hierbas en el arroz varía con el tipo de cultivo, el método de siembra, la variedad y las técnicas de cultivo. Esta competencia resulta más importante en las primeras fases de crecimiento del cultivo, por tanto, su control temprano es esencial para obtener óptimos rendimientos.</p>
                            <br>
                            <h3>Insecticidas</h3>
                            <br>
                            <p>Se utilizan principalmente para la eliminación de plagas como: gusanos rojos y blancos, pudenta, taladrador del arroz, tijeretas del arrozal, rosquilla y pulgones.</p>
                            <br>
                            <h3>Fungicidas</h3>
                            <br>
                            <p>Se utilizan principalmente para el tratamiento de enfermedades causadas por hongos como: Rhizoctonia solani, podredumbre del tallo, mancha marron, y tungro.</p>
                            <br>
                            <br>
                        <footer id="footer">
                            <div class="footer"><b>Enlaces relacionados</b>
                                <div class="row screen-lg">
                                    <div class="col-xl-12 col-lg-12 no-split_redes">
                                        <ul class="he_footer_redes">
                                            <li>
                                                <a href="https://www.facebook.com/pages/Ministerio-de-Agricultura-y-Desarrollo-Rural/180831651986560" title="Facebook">										
                                                    <i class="fa fa-facebook fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-button-blue-icon.png" alt="" width="45">
                                                    <div class="fa_text"></div> <!--Facebook-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/MinAgricultura" title="Twitter">					
                                                    <i class="fa fa-twitter fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Twitter-icon.png" alt="">
                                                    <div class="fa_text"></div>	<!--Twitter-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/MinAgriculturaCol" title="Instagram">						
                                                    <i class="fa fa-instagram fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Instagram-icon.png" alt="" width="50">
                                                    <div class="fa_text"></div> <!--Instagram-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/user/AgriculturaldiaMADR" title="Youtube" href="#" target="_blank"> 						
                                                    <i class="fa fa-youtube fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Youtube-icon.png" alt="">
                                                    <div class="fa_text"></div>	 <!--Youtube-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
            </div>
        </div>
    <section id= "skills">
    </section>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
<footer>
    <section>
        <%-include("../partials/footer.html")%>
    </section>
</footer>
</html>