<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacao</title>
    <%-include("../partials/head.html")%>
</head>
<body>
    <%-include("../partials/body.html")%>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <section id="home">  
                    <div class="imgcontainer" data-aos="fade-down"
                    data-aos-easing="linear"
                    data-aos-duration="1500">  <!-- Para animar la imagen se copoa el codigo de la pagina los data-aos-->
                    <div class="description">
                        <h1 class="text-center"><b>Informacion Importante</b></h1>
                        <br>
                        <br>
                        <h2>Cultivo del cacao (Theobroma cacao)</h2>
                        <br>
                        <img class="img-fluid shadow-lg mx-2 rounded" src="../imagenes/martinique-g1de360b2a_640.jpg" alt="" width="400">
                        <br>
                        <br>
                        <p>Los factores climáticos críticos para el desarrollo del cacao son la temperatura y la lluvia. A estos se le unen el viento y la luz o radiación solar. El cacao es una planta que se desarrolla bajo sombra. El cacao no soporta temperaturas bajas, siendo su límite medio anual de temperatura los 21 ºC ya que es difícil cultivar cacao satisfactoriamente con una temperatura más baja.
                            El cacao requiere suelos muy ricos en materia orgánica, profundos, franco arcillosos, con buen drenaje y topografía regular. El factor limitante del suelo en el desarrollo del cacao es la delgada capa húmica.
                            </p>
                        <br>
                        <h3>Siembra</h3>
                        <br>
                        <p>Las variedades de cacao dulce se plantan de 3,5 a 4,5 m de distancia. Las variedades de cacao amargo y los híbridos, al ser más vigorosos, generalmente se plantan a una distancia de 5 a 6 m. La tendencia actual de las nuevas plantaciones es colocar todas las variedades a intervalos de 3,5 hasta 3,75 m. </p>
                        <br>
                        <h3>Fertilización</h3>
                        <br>
                        <p>Durante el primer y segundo año las necesidades por planta son de 60 gramos de nitrógeno, 30 g de P205, 24 g de K20 y 82 g de S O4. Del tercer año en adelante, el abonado se debe hacer basándose en un análisis del suelo.</p>
                        <br>
                        <h3>Herbicidas</h3>
                        <br>
                        <p>La eliminación de malas hierbas en cacao se realiza fundamentalmente mediante escarda química. Las plantas que salen del vivero son muy susceptibles al daño de los herbicidas por lo que deben aplicarse con precaución.</p>
                        <br>
                        <h3>Insecticidas</h3>
                        <br>
                        <p>Se utilizan principalmente para la eliminación de plagas como: áfidos, cápsidos del cacao, salivazo, chinches, barrenadores de tallo, medidores, defoliadores, hormigas, zompopas, barrenadores de fruto, crisomélidos, escolítidos, joboto y ácaros.</p>
                        <br>
                        <h3>Fungicidas</h3>
                        <br>
                        <p>Se utilizan principalmente para el tratamiento de enfermedades causadas por hongos como: la mazorca negra, mal del machete, las bubas, y la moniliasis.</p>
                        <br>
                        <br>
                        <footer id="footer">
                            <div class="footer"><b>Enlaces relacionados</b>
                                <div class="row screen-lg">
                                    <div class="col-xl-12 col-lg-12 no-split_redes">
                                        <ul class="he_footer_redes">
                                            <li>
                                                <a href="https://www.facebook.com/pages/Ministerio-de-Agricultura-y-Desarrollo-Rural/180831651986560" title="Facebook">										
                                                    <i class="fa fa-facebook fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-button-blue-icon.png" alt="" width="45">
                                                    <div class="fa_text"></div> <!--Facebook-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/MinAgricultura" title="Twitter">					
                                                    <i class="fa fa-twitter fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Twitter-icon.png" alt="">
                                                    <div class="fa_text"></div>	<!--Twitter-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/MinAgriculturaCol" title="Instagram">						
                                                    <i class="fa fa-instagram fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Instagram-icon.png" alt="" width="50">
                                                    <div class="fa_text"></div> <!--Instagram-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/user/AgriculturaldiaMADR" title="Youtube" href="#" target="_blank"> 						
                                                    <i class="fa fa-youtube fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Youtube-icon.png" alt="">
                                                    <div class="fa_text"></div>	 <!--Youtube-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
            </div>
        </div>
    <section id= "skills">
    </section>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
<footer>
    <section>
        <%-include("../partials/footer.html")%>
    </section>
</footer>
</html>