<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe</title>
    <%-include("../partials/head.html")%>
</head>
<body>
    <%-include("../partials/body.html")%>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <section id="home">  
                    <div class="imgcontainer" data-aos="fade-down"
                    data-aos-easing="linear"
                    data-aos-duration="1500">  <!-- Para animar la imagen se copoa el codigo de la pagina los data-aos-->
                        <img class="centro" src="/ciclo-3/src/public/imagenes/logo.png" alt=""width ="200">
                    </div>
                    <div class="description">
                        <h1 class="text-center"><b>Informacion Importante</b></h1>
                        <br>
                        <br>
                        
                        <h2>Cultivo del café (Coffea aribica)</h2>
                        <br>
                        <img class="img-fluid shadow-lg rounded mx-1 " src="../imagenes/fresh-gb355737b9_640.jpg" alt="" width="400">
                        <br>
                        <br>
                        <p>El café se cultiva en lugares con una precipitación que varía desde los 750 mm anuales (7.500 m3/ha) hasta 3000 mm (30.000 m3/ha), el mejor café se produce en aquellas áreas que se encuentran en altitudes de 1200 a 1700 metros, donde la precipitación pluvial anual es de 2000 a 3000 mm y la temperatura media anual es de 16º a 22º. 
                            El café prospera en un suelo profundo, bien drenado, que no sea ni demasiado ligero ni demasiado pesado. Los limos volcánicos son ideales. La reacción del suelo debe ser más bien ácida. Una variación del pH de 4,2-5,1.
                            </p>
                            <br>
                            <h3>Siembra</h3>
                            <br>
                            <p>La distancia comúnmente usada en la siembra del café arábigo es de 2,0 x 2,5 m, lo cual da más o menos 2,000 árboles por ha. Otro método de siembra consiste en el doble trasplante al principio. Después los árboles alternos se eliminan cuando empiezan a resultar demasiado aglomerados y los rendimientos empiezan a bajar.</p>
                            <br>
                            <h3>Fertilización</h3>
                            <br>
                            <p>Alternativa 1 grado 26 - 4 - 22: con nitrógeno, fósforo y potasio aplicando 1.164 kilogramos de fertilizante por hectárea por año. Alternativa 2 grado 23 - 4 - 20 - 3(MgO) - 4(S): con nitrógeno, fósforo, potasio, magnesio y azufre, aplicando 1.304 kilogramos de fertilizante por hectárea por año. Esta formulación se recomienda en aquellas zonas donde se presentan deficiencias de magnesio.</p>
                            <br>
                            <h3>Herbicidas</h3>
                            <br>
                            <p>El deshierbe debe ser selectivo, eliminando aquellas plantas que pueden competir con los árboles de café.</p>
                            <br>
                            <h3>Insecticidas</h3>
                            <br>
                            <p>Se utilizan principalmente para la eliminación de plagas como: escamas (Escama verde (Coccus viridis Green); escama coma (Lepidosaphes beckii); escama globosa (Saissetia hemisphaerica); escama algodonosa (Icerya purchasi); chinche harinosa (Pseudococcus sp.)), Cortadores (Agrotis repleta; Laphyma frugiperda; Prodenia eridania y P. latisfalcia), Bachacos (Atta sp.), Palomillas, nematodos y minadores.</p>
                            <br>
                            <h3>Fungicidas</h3>
                            <br>
                            <p>Se utilizan principalmente para el tratamiento de enfermedades causadas por hongos como las royas, cercosporas, la antracnosis, phoma, koleroga, mancha mantecosa, mal rosado, mal de talluelo, y llagas.</p>
                            <br>
                            <br>
                        <footer id="footer">
                            <div class="footer"><b>Enlaces relacionados</b>
                                <div class="row screen-lg">
                                    <div class="col-xl-12 col-lg-12 no-split_redes">
                                        <ul class="he_footer_redes">
                                            <li>
                                                <a href="https://www.facebook.com/pages/Ministerio-de-Agricultura-y-Desarrollo-Rural/180831651986560" title="Facebook">										
                                                    <i class="fa fa-facebook fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-button-blue-icon.png" alt="" width="45">
                                                    <div class="fa_text"></div> <!--Facebook-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/MinAgricultura" title="Twitter">					
                                                    <i class="fa fa-twitter fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Twitter-icon.png" alt="">
                                                    <div class="fa_text"></div>	<!--Twitter-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/MinAgriculturaCol" title="Instagram">						
                                                    <i class="fa fa-instagram fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Instagram-icon.png" alt="" width="50">
                                                    <div class="fa_text"></div> <!--Instagram-->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/user/AgriculturaldiaMADR" title="Youtube" href="#" target="_blank"> 						
                                                    <i class="fa fa-youtube fa-circulo" aria-hidden="true"></i>
                                                    <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Youtube-icon.png" alt="">
                                                    <div class="fa_text"></div>	 <!--Youtube-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
            </div>
        </div>
    <section id= "skills">
    </section>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
<footer>
    <section>
        <%-include("../partials/footer.html")%>
    </section>
</footer>
</html>