<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maiz</title>
    <%-include("../partials/head.html")%>

</head>
<body>
    <%-include("../partials/body.html")%>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <section id="home">  
                <div class="imgcontainer" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500">  <!-- Para animar la imagen se copoa el codigo de la pagina los data-aos-->
                <div class="description">
                    <h1 class="text-center"><b>Informacion Importante</b></h1>
                    <br>
                    <br>
                    <!-- -------------------------------------------------------------------------------------- -->
                    <h2>Cultivo del Maíz (Zea mays)</h2>
                    <br>
                    <img class="img-fluid rounded shadow-lg mx-2" src="../imagenes/corn-g4de78159a_640.jpg" alt="" width ="400">
                    <br>
                    <br>
                    <p>El maíz requiere una temperatura de 25 a 30ºC,  llega a soportar temperaturas mínimas de hasta 8ºC y a partir de los 30ºC pueden aparecer problemas serios debido a mala absorción de nutrientes minerales y agua. Para la fructificación se requieren temperaturas de 20 a 32ºC.</br>
                        El maíz se adapta muy bien a todos tipos de suelo pero suelos con pH entre 6 a 7 son a los que mejor se adaptan. También requieren suelos profundos, ricos en materia orgánica, con buena circulación del drenaje para no producir encharques que originen asfixia radicular.
                        </p><br>
                    <h3>Siembra</h3>
                    <br>
                    <p>Se efectúa a una profundidad de 5cm. La separación de las líneas de 0.8 a 1 m y la separación entre los golpes de 20 a 25 cm. La siembra se realiza por el mes de abril.</p>
                    <br>
                    <h3>Fertilización</h3>
                    <br>
                    <p>El abonado se efectúa normalmente según las características de la zona de plantación, por lo que no se sigue un abonado riguroso en todas las zonas por igual. No obstante se aplica un abonado muy flojo en la primera época de desarrollo de la planta hasta que la planta tenga un número de hojas de 6 a 8. A partir de esta cantidad de hojas se recomienda un abonado de: </br>
                        <ol>N : 82% ( abonado nitrogenado ).</br>
                        P2O5 : 70% (abonado fosforado ).</br>
                        K2O: 92% ( abonado en potasa ).</br>
                        </ol>
                    </p>
                    <br>
                    <h3>Herbicidas</h3>
                    <br>
                    <p>Cuando transcurren 3 a 4 semanas de la emergencia de la planta aparecen las primeras hierbas de forma espontánea que compiten con el cultivo absorción de agua y nutrientes minerales. Por ello, es conveniente su eliminación por medio de herbicidas.</p>
                    <br>
                    <h3>Insecticidas</h3>
                    <br>
                    <p>Se utilizan principalmente para la eliminación de plagas como: el gusano alambre, gusanos grises, ácaros, pulgones, barrenadores de tallo, y taladros del maíz.</p>
                    <br>
                    <h3>Fungicidas</h3>
                    <br>
                    <p>Se utilizan principalmente para el tratamiento de enfermedades causadas por hongos como las royas, la antracnosis y el carbón del maíz.</p>
                    <br>
                    <br>
                    <footer id="footer">
                        <div class="footer"><b>Enlaces relacionados</b>
                        
                            <div class="row screen-lg">
                                <div class="col-xl-12 col-lg-12 no-split_redes">
                                    <ul class="he_footer_redes">
                                        <li>
                                            <a href="https://www.facebook.com/pages/Ministerio-de-Agricultura-y-Desarrollo-Rural/180831651986560" title="Facebook">										
                                                <i class="fa fa-facebook fa-circulo" aria-hidden="true"></i>
                                                <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-button-blue-icon.png" alt="" width="45">
                                                <div class="fa_text"></div> <!--Facebook-->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/MinAgricultura" title="Twitter">					
                                                <i class="fa fa-twitter fa-circulo" aria-hidden="true"></i>
                                                <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Twitter-icon.png" alt="">
                                                <div class="fa_text"></div>	<!--Twitter-->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/MinAgriculturaCol" title="Instagram">						
                                                <i class="fa fa-instagram fa-circulo" aria-hidden="true"></i>
                                                <img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Instagram-icon.png" alt="" width="50">
                                                <div class="fa_text"></div> <!--Instagram-->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/user/AgriculturaldiaMADR" title="Youtube" href="#" target="_blank"> 						
                                                <i class="fa fa-youtube fa-circulo" aria-hidden="true"></i>
                                                <img src="https://icons.iconarchive.com/icons/social-media-icons/glossy-social/48/Youtube-icon.png" alt="">
                                                <div class="fa_text"></div>	 <!--Youtube-->
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </section>
            <section id= "skills">
            </section>
        </div>

    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
<footer>
    <section>
        <%-include("../partials/footer.html")%>
    </section>
</footer>
</html>