<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

    <%-include("../partials/head.html")%>
</head>
<body>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <h1><b>Dashboard</b></h1>
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="bi bi-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
        
                    <!-- Nav Item - productos -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="/admin/administrador.html" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        Tabla de productos</a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="/admin/user.html" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        Tabla de Usuarios</a>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="/dash.html" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                            <img class="img-fluid rounded-circle"
                                src="../imagenes/logo.png" width="30px">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/admin/logout" data-toggle="modal" data-target="#logoutModal">
                                <i class="bi bi-search mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    

    <section class="section pb-6" id="demos">
        <div class="container pb-5">
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-lg-8 mt-0">
                    <table id="productos" class="shadow-lg table table-success table-striped table-hover" >
                        <thead>
                            <a href="/admin/agregarProduct.html" class="btn btn-success "><i class="bi bi-plus"></i></a>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">PRODUCTO</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">STOCK</th>
                                <th scope="col">PRECIO</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% filas.forEach((row)=>{ %>
                                <tr>
                                    <td><%= row.id %></td>
                                    <td><%= row.PRODUCTO %></td>
                                    <td><%= row.DESCRIPCION %></td>
                                    <td><%= row.STOCK %></td>
                                    <td><%= row.PRECIO %></td>
                                    <td>
                                        <a href="/delete/<%= row.id %>" class="btn btn-success"><i class="bi bi-trash"></i></a>
                                        <a href='/admin/actualizar.html/<%= row.id %>' class="btn btn-success"><i class="bi bi-pencil"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
    
    <script>
    
        /*$(document).ready(function() {   
            var url = 'http://localhost:3000/api/articulos/';

            $('#productos1').DataTable({            
                "ajax":{
                    "url": url,
                    "dataSrc":""
                },
                "columns":[
                    {"data": "idusers"},
                    {"data": "user"},
                    {"data": "pass"},
                    {"data": "email"},
                    {"data": "dirección"},
                    {"data": "apellido"},
                ],
                "columnDefs":[{
                    "targets":[2],
                    render(v){
                        return Number(v).toFixed(2)
                    }
                }]
            });
        });*/
    </script>
    
</body>
<footer>
    <section>
        <%-include("../partials/footer.html")%>
    </section>
</footer>
</html>